Cite [RFC3550] in introduction

2. To help the reader, I suggest it would be helpful for the Introduction to also mention, and then cite [RFC3550]. It would be OK to also cite the RTP profiles here, such as [RFC3551], [RFC4585], [RFC3711], [RFC5124].

From: https://mailarchive.ietf.org/arch/msg/avt/f4kPVE9WKY1Sczv42Trv4aJvFog/

Makes sense citing [RFC3550] in the introduction.

I am not convinced by the need to citing the other references since the payload format is definitely independently from these profiles.